.features-block {
  padding-top: 60px;
  background: #ffffff;
  height: 330px;

  &__feature {
    display: inline-block;
    width: calc(100% / 3);
    height: 330px;

    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__icon-1 {
    width: 75px;
    height: 72px;
    margin: 0 auto;

    background: url("../../img/icon-house.png");
  }
  &__icon-2 {
    width: 77px;
    height: 68px;
    margin: 0 auto;

    background: url("../../img/icon-burger.png");
  }
  &__icon-3 {
    width: 64px;
    height: 75px;
    margin: 0 auto;

    background: url("../../img/icon-gift.png");
  }

  &__title {
    margin: 30px 0 30px 0;

    font-size: 21px;
    font-weight: bold;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .features-block {

    &__description {
      margin: 0 45px 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .features-block {
    height: 418px;
    padding-top: 0;

    &__feature {
      display: block;
      width: 100%;
      height: calc(418px / 3);
      padding: 20px 0 0 0;

      text-align: left;
    }

    &__icon-1 {
      float: left;
      width: 25%;
      height: calc(418px / 3);

      background: url("../../img/icon-house-mobile.png") no-repeat center top;
    }
    &__icon-2 {
      float: left;
      width: 25%;
      height: calc(418px / 3);

      background: url("../../img/icon-burger-mobile.png") no-repeat center top;
    }
    &__icon-3 {
      float: left;
      width: 25%;
      height: calc(418px / 3);

      background: url("../../img/icon-gift-mobile.png") no-repeat center top;
    }

    &__title {
      float: left;
      margin: 5px 0 10px 0;
      width: 75%;
    }

    &__description {
      float: left;
      line-height: 21px;
      width: 65%;

      & br {
        display: none;
      }
    }
  }
}