.header {
  position: relative;

  height: 518px;
  padding: 80px 0 140px 0;

  background: url("../../img/fullsize-background.jpg") no-repeat center center;

  &__title {
    height: 350px;

    background: url("../../img/text-index-tablet.png") no-repeat 50%;
  }

  &__geometry {
    position: absolute;
    bottom: 0;

    height: 57px;
    width: 100%;

    background: url("../../img/intro-triangle.png") center center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .header {
    height: 518px;
    padding: 80px 0 90px 0;

    background: url("../../img/fullsize-background.jpg") no-repeat top;

    &__title {
      height: 350px;

      background: url("../../img/text-index-tablet.png") no-repeat 50%;
    }

    &__geometry {
      bottom: 0;

      height: 57px;

      background: url("../../img/intro-triangle.png") no-repeat 50%;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .header {
    height: 390px;
    padding: 90px 0 0 0;

    background: url("../../img/fullsize-background.jpg") no-repeat -400px 0;

    &__title {
      display: block;
      width: 100%;
      height: 210px;

      background: url("../../img/text-index-mobile.png") no-repeat 50%;
    }

    &__geometry {
      height: 57px;

      background: url("../../img/intro-triangle.png") no-repeat 50%;
    }
  }
}





